* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 1px 2px #eee;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  display: flex;
  font-size: 1.1rem;
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #666;
}

nav li a:hover {
  color: #387ed1;
}

.container {
  max-width: 100%;
  margin-top: 18vh;
}

.sec1 {
  text-align: center;
  width: 1100px;
  max-width: 100%;
  margin: auto;
}

.sec1 img {
  display: block;
  max-width: 100%;
  margin-bottom: 60px;
  max-height: 45vh;
  margin: auto;
}

.sec1 h1 {
  margin-top: 8vh;
  font-size: 2.75rem;
  line-height: 1.25;
  font-weight: 540;
}
.sec1 h5 {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 450;
}
button {
  display: block;
  margin: auto;
  margin-top: 55px;
  background-color: #387ed1;
  color: #fff;
  border-radius: 3px;
  padding: 10px 30px;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 500;
  cursor: pointer;
}

.sec2 {
  width: 1100px;
  max-width: 100%;
  margin: auto;
}
.sec2 {
  margin-top: 15vh;
  display: flex;
}
.sec2 img {
  display: block;
  max-width: 30vw;
  max-height: 38vh;
}

.fright {
  margin-left: 7vw;
  display: flex;
  flex-direction: column;
}
.fright h2 {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 20px;
}
.fright h5 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin-bottom: 15px;
  font-weight: 400;
}
.sec2sec1 {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-top: 10px;
}
.sec2sec1 ul {
  padding-left: 20px;
  line-height: 1.9;
}
.sec2img {
  margin-top: 20px;
  max-width: 100%;
  opacity: 0.7;
}
.sec3 {
  text-align: center;
  width: 1100px;
  max-width: 100%;
  margin: auto;
  margin-top: 15vh;
}
.sec3sec1 h1 {
  font-size: 2.75rem;
  line-height: 1.25;
  font-weight: 540;
}
.sec3sec1 h5 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 375;
}
.sec3img img {
  max-width: 850px;
  height: auto;
  width: 100%;
}
.sec3link {
  margin-top: 1.5vh;
}
.sec3link span {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}
.sec3link span:hover {
  color: #387ed1;
}
.sec4 {
  width: 1100px;
  max-width: 100%;
  margin: auto;
  margin-top: 15vh;
  display: flex;
}
.sec4sec1 {
  flex-basis: 39.3333333333%;
  width: 39.3333333333%;
}
.sec4sec1 h1 {
  font-size: 2.75rem;
  line-height: 1.25;
  font-weight: 540;
}
.sec4sec1 h5 {
  margin-top: 5vh;
  font-size: 1.25rem;
  line-height: 1.8;
  margin-bottom: 15px;
  font-weight: 400;
}
.sec4sec1 p {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}
.sec4sec1 p:hover {
  color: #387ed1;
}
.sec4sec2 {
  display: flex;
  flex-basis: 30%;
  margin-left: 5vw;
}
.s4d1,
.s4d2 {
  border: 1px solid #ccc;
  padding: 0 25px;
  min-height: 190px;
}
.s4d1,
.s4d2 p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 15px;
  text-align: center;
}
.s4d1 h1,
.s4d2 h1 {
  font-size: 2.75rem;
  line-height: 1.25;
  font-weight: 540;
  text-align: center;
}
.s4d1 h5,
.s4d2 h5 {
  margin-top: 5vh;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 400;
  text-align: center;
}
